/* Font */
:root {
  --font-heading: "Source Sans Pro", sans-serif;
  --font-subheading: "Source Sans Pro", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-button: "Source Sans Pro", sans-serif;
}

/* Color */
:root {
  --color-black: #041725;
  --color-white: #ffffff;
  --color-foreground-dimmest: #6c8293;
  --color-foreground-dimmer: #244660;
  --color-foreground-default: #082b45;
  --color-background-root: #ebedef;
  --color-background-lower: #f9f9fa;
  --color-background-default: #ffffff;
  --color-background-higher: #eeeff2;
  --color-background-highest: #e3e5e8;
  --color-outline-dimmest: #f5f5f5;
  --color-outline-dimmer: #ebebeb;
  --color-outline-default: #e0e0e0;
  --color-primary-dimmest: #b84000;
  --color-primary-dimmer: #e04e00;
  --color-primary-default: #ff5900;
  --color-primary-stronger: #ffceb3;
  --color-primary-strongest: #ffeee5;
  --color-secondary-dimmest: #b84000;
  --color-secondary-dimmer: #097bd3;
  --color-secondary-default: #0b93f4;
  --color-secondary-stronger: #b6dffb;
  --color-secondary-strongest: #e6f4fe;
  --color-positive-dimmest: #107f5e;
  --color-positive-dimmer: #14a378;
  --color-positive-default: #19cc95;
  --color-positive-stronger: #60ebc2;
  --color-positive-strongest: #bbf7e5;
  --color-negative-dimmest: #ae092d;
  --color-negative-dimmer: #d40d37;
  --color-negative-default: #f4154c;
  --color-negative-stronger: #f98aa6;
  --color-negative-strongest: #feecf0;
}

/* General */
:root {
  --border-radius-default: 12px;
  --border-radius-button: 100px;
  --shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.07);
  --shadow-medium: 0px 4px 6px 0.1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.25);
  --shadow-big: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.25);
  --shadow-extra-big: 0px 10px 25px -5px rgba(0, 0, 0, 0.1),
    0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-family: var(--font-heading);
  color: var(--color-foreground-default);
}
.heading--big {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.4125rem;
  letter-spacing: -0.02em;
}
.heading--default {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.925rem;
  letter-spacing: -0.02em;
}
.heading--small {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.4375rem;
  letter-spacing: -0.02em;
}
.heading--subtle {
  color: var(--color-foreground-dimmer);
}
.heading--highlight {
  color: var(--color-primary-default);
}

@media screen and (min-width: 656px) {
  .heading--big {
    font-size: 3.125rem;
    line-height: 4.0625rem;
  }
  .heading--default {
    font-size: 2.625rem;
    line-height: 3.4125rem;
  }
  .heading--small {
    font-size: 2.125rem;
    line-height: 2.7625rem;
  }
}
.text {
  font-family: var(--font-body);
  color: var(--color-foreground-default);
}
.text--normal {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.text--bold {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}
.text--small {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.text--subtle {
  color: var(--color-foreground-dimmer);
}
.text--subtlest {
  color: var(--color-foreground-dimmest);
}
.text--link {
  color: var(--color-secondary-default);
}

@media screen and (min-width: 656px) {
  .text--normal {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .text--bold {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
  .text--small {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.button-text {
  font-family: var(--font-button);
  text-decoration: none;
}
.button-text--big {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.375rem;
  letter-spacing: 0.02em;
}
.button-text--default {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.02em;
}
.button-text--small {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 656px) {
  .button-text--big {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .button-text--default {
    font-size: 1rem;
    line-height: 1rem;
  }
  .button-text--small {
    font-size: 0.85rem;
    line-height: 0.85rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background: var(--color-background-root);
}

.wrapper--heading-default {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  width: 100%;
  height: 80px;
  background: var(--color-background-default);
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1256px;
}
.header__nav {
  display: flex;
  gap: 16px;
}
.header__logo {
  font-family: var(--font-heading);
  font-size: 29px;
  font-weight: 600;
  color: var(--color-foreground-default);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  background: var(--color-background-lower);
  padding: 64px 16px;
  height: max-content;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1256px;
}
.footer__policies {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  min-height: 100%;
}
.footer__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}
.footer__social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: var(--color-background-higher);
}
.footer__social-button:active {
  background: var(--color-background-highest);
}
.footer__social-image {
  height: 14px;
}

@media screen and (min-width: 656px) {
  .footer__social-button:hover {
    background: var(--color-background-highest);
  }
}
@media screen and (min-width: 1025px) {
  .footer {
    justify-content: center;
    align-items: center;
    height: 85px;
  }
  .footer__content {
    align-items: center;
    height: 100%;
  }
  .footer__policies {
    flex-direction: row;
    gap: 16px;
  }
  .footer__contact {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-button);
  border: none;
}
.button--standard {
  width: 100%;
}
.button--label {
  flex-direction: column;
  padding: 10px;
  aspect-ratio: unset;
}
.button--primary {
  background: var(--color-primary-default);
  color: var(--color-white);
}
.button--primary:active {
  background: var(--color-primary-dimmest);
}
.button--primary:disabled {
  opacity: 0.2;
}
.button--positive {
  background: var(--color-positive-default);
  color: var(--color-white);
}
.button--positive:active {
  background: var(--color-positive-dimmest);
}
.button--positive:disabled {
  opacity: 0.2;
}
.button--negative {
  background: var(--color-negative-default);
  color: var(--color-white);
}
.button--negative:active {
  background: var(--color-negative-dimmest);
}
.button--negative:disabled {
  opacity: 0.2;
}
.button--secondary {
  background: var(--color-background-default);
  border: 1px solid var(--color-primary-default);
  color: var(--color-primary-default);
}
.button--secondary:active {
  background: var(--color-primary-dimmer);
  color: var(--color-white);
}
.button--secondary:disabled {
  opacity: 0.2;
}
.button--tertiary {
  background: none;
  color: var(--color-foreground-default);
}
.button--tertiary:active {
  background: var(--color-background-highest);
}
.button--tertiary:disabled {
  opacity: 0.2;
}
.button--auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: none;
  color: var(--color-foreground-default);
  border: 1px solid var(--color-outline-default);
}
.button--auth:active {
  background: var(--color-background-highest);
}
.button--auth:disabled {
  opacity: 0.2;
}
.button--small {
  height: 40px;
  min-height: 40px;
}
.button--default {
  height: 52px;
  min-height: 52px;
}
.button--big {
  height: 64px;
  min-height: 64px;
}

@media screen and (min-width: 656px) {
  .button--primary:hover {
    background: var(--color-primary-dimmer);
  }
  .button--positive:hover {
    background: var(--color-positive-dimmer);
  }
  .button--negative:hover {
    background: var(--color-negative-dimmer);
  }
  .button--secondary:hover {
    background: var(--color-primary-default);
    color: var(--color-white);
  }
  .button--tertiary:hover {
    background: var(--color-background-higher);
  }
  .button--auth:hover {
    background: var(--color-background-higher);
  }
  .button--small {
    height: 32px;
    min-height: 32px;
  }
  .button--default {
    height: 40px;
    min-height: 40px;
  }
  .button--big {
    height: 56px;
    min-height: 56px;
  }
}
.section--default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
.section__content {
  width: 100%;
  max-width: 1256px;
}

@media screen and (min-width: 361px) {
  .section--default {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 656px) {
  .section--default {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1025px) {
  .section--default {
    padding-left: 88px;
    padding-right: 88px;
  }
}
@media screen and (min-width: 1440px) {
  .section--default {
    padding-left: 0;
    padding-right: 0;
  }
}
.testimonial {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
  padding: 24px;
  height: 200px;
  max-width: 360px;
}
.testimonial__person {
  display: flex;
  justify-content: space-between;
  height: max-content;
  width: 100%;
}
.testimonial__left {
  display: flex;
  gap: 8px;
}
.testimonial__avatar-image {
  width: 54px;
  height: 54px;
  border-radius: 100px;
}
.testimonial__details {
  display: flex;
  flex-direction: column;
}
.testimonial__right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: max-content;
  height: 100%;
}
.testimonial__source {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: var(--color-background-higher);
}
.testimonial__source:active {
  background: var(--color-background-highest);
}
.testimonial__source-image {
  height: 14px;
}

@media screen and (min-width: 656px) {
  .testimonial__source:hover {
    background: var(--color-background-highest);
  }
}
.html-image {
  position: relative;
  transition: transform 1s ease 0s;
}
.html-image--right {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transform: perspective(1500px) rotateY(15deg);
  left: 2.2vw;
}
.html-image--left {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  perspective-origin: left;
  transform: perspective(1500px) rotateY(-15deg);
  right: 2.2vw;
}

.pseudocode {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pseudocode__line {
  display: flex;
  gap: 8px;
  width: 100%;
  height: max-content;
}
.pseudocode__word {
  height: 16px;
  border-radius: 4px;
  width: 0;
  background: var(--color-foreground-default);
  transition: width cubic-bezier(0.23, 1, 0.32, 1), background ease;
}
.pseudocode__word--highlight {
  background: var(--color-primary-default);
}

.gamemode-showcase {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  padding: 32px;
  height: 180px;
  max-width: 360px;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
  overflow: hidden;
}
.gamemode-showcase__slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}
.gamemode-showcase__image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gamemode-showcase__logo {
  height: 64px;
}

.text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.text-input__field {
  height: 44px;
  width: 100%;
  border-radius: var(--border-radius-default);
  border: none;
  border: 1px solid var(--color-outline-default);
  padding: 0 16px;
  box-shadow: var(--shadow-small);
}
.text-input__field:focus {
  border: 1px solid var(--color-primary-default);
  outline: none;
}
.text-input__field--negative {
  border: 1px solid var(--color-negative-default);
}
.text-input__field--positive {
  border: 1px solid var(--color-positive-default);
}
.text-input__field--password {
  padding-right: 42px;
}
.text-input__field--search {
  padding-left: 42px;
}
.text-input__field--icon {
  padding-left: 42px;
}
.text-input__icon {
  position: absolute;
  left: 16px;
}
.text-input__eye {
  position: absolute;
  right: 4px;
}

.stepper {
  --circle-size: 32px;
  --spacing: 8px;
  display: flex;
  width: 100%;
}
.stepper__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  counter-increment: step-count;
}
.stepper__item:before {
  content: counter(step-count);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 100px;
  background: #d4d4d4;
  margin: 0 auto 0.5rem;
  color: var(--color-white);
}
.stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle-size) / 2);
  width: calc(100% - var(--circle-size) - var(--spacing) * 2);
  left: calc(50% + var(--circle-size) / 2 + var(--spacing));
  height: 2px;
  background-color: #d4d4d4;
  order: -1;
}
.stepper__item--previous:not(:last-child):after, .stepper__item--active:not(:last-child):after {
  background: var(--color-primary-default);
}
.stepper__item--previous:before, .stepper__item--active:before {
  background: var(--color-primary-default);
}
.stepper__title {
  color: #d4d4d4;
}
.stepper__item--previous .stepper__title {
  color: var(--color-foreground-default);
}
.stepper__item--active .stepper__title {
  color: var(--color-foreground-default);
  font-weight: 600;
}

.button-switch {
  display: flex;
  border-radius: 12px;
  width: 100%;
  box-shadow: var(--shadow-small);
}
.button-switch__label {
  cursor: pointer;
  flex: 1;
}
.button-switch__input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
.button-switch__span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 4px;
  flex-wrap: wrap;
  border: 1px solid var(--color-outline-dimmest);
}
.button-switch__label:first-child .button-switch__span {
  border-radius: 12px 0 0 12px;
}
.button-switch__label:last-child .button-switch__span {
  border-radius: 0 12px 12px 0;
}
.button-switch__input:checked + .button-switch__span {
  background: var(--color-primary-strongest);
  border: 1px solid var(--color-primary-strongest);
}

.hero-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 0.6;
  height: 100%;
  max-height: 420px;
  margin: 0 auto;
  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);
}
.hero-image__tag {
  position: absolute;
  right: 8px;
  z-index: 10;
  padding: 4px 12px;
  color: var(--color-white);
  border-radius: var(--border-radius-default);
}
.hero-image__tag--you {
  background: var(--color-primary-default);
  top: 8px;
}
.hero-image__tag--best-friend {
  top: 50%;
  background: var(--color-secondary-default);
}
.hero-image__panel {
  position: relative;
  padding: 24px;
  background: var(--color-background-default);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-default);
  overflow-y: auto;
}

.language-image {
  padding: 16px;
  height: max-content;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);
}
.language-image__inner {
  display: flex;
  gap: 16px;
  padding: 16px;
  width: 100%;
  height: max-content;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
  overflow: hidden;
}
.language-image__row {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  animation: slide 12s infinite linear;
}
.language-image__lang-logo {
  height: 64px;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% - 16px));
  }
}
.gamemode-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: max-content;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);
}
.gamemode-image__panel {
  padding: 16px;
  background: var(--color-background-default);
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-default);
  overflow-y: auto;
}
.gamemode-image__information {
  height: 100%;
  overflow: hidden;
}
.gamemode-image__row {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 400%;
  animation: gamemode 6s infinite linear;
}
.gamemode-image__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  width: 100%;
}
.gamemode-image__logo {
  height: 64px;
}

@keyframes gamemode {
  0% {
    transform: translateX(0%);
  }
  30% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(-25%);
  }
  63% {
    transform: translateX(-25%);
  }
  66% {
    transform: translateX(-50%);
  }
  97% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-75%);
  }
}
.index__hero {
  padding-top: 96px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.index__hero-content {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.index__hero-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  max-width: 620px;
}
.index__hero-text {
  max-width: 560px;
}
.index__cta {
  width: 100%;
}
.index__what {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--color-background-lower);
}
.index__what-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
}
.index__features {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.index__features-content {
  display: flex;
  flex-direction: column;
  gap: 128px;
}
.index__features-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.index__testimonials {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  background: var(--color-secondary-strongest);
}
.index__testimonial-list {
  display: flex;
  gap: 32px;
  padding: 0 16px;
  overflow: auto;
}
.index__testimonial-list .testimonial {
  flex-shrink: 0;
}
.index__how {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.index__how-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media screen and (min-width: 656px) {
  .index__hero-content {
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .index__hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 96px;
  }
  .index__cta {
    width: 300px;
  }
  .index__features-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
  }
  .index__features-section--flipped {
    flex-direction: column;
  }
  .index__features-text {
    width: 100%;
    max-width: 800px;
  }
}
@media screen and (min-width: 1256px) {
  .index__features-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
  }
  .index__features-section--flipped {
    flex-direction: row-reverse;
  }
  .index__features-text {
    min-width: 450px;
    width: 100%;
    max-width: 500px;
  }
  .index__features {
    padding-top: 196px;
    padding-bottom: 196px;
  }
  .index__features-content {
    gap: 196px;
  }
}
.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--color-background-root);
  padding: 16px;
  overflow-y: auto;
}
.auth__content {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  height: 800px;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
}
.auth__content--signup-email {
  height: 900px;
}
.auth__why {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-strongest);
  border-radius: var(--border-radius-default);
  padding: 16px;
}
.auth__main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px;
}
.auth__heading {
  display: none;
}
.auth__buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 656px;
  width: 100%;
}
.auth__button--social {
  width: 100%;
}
.auth__button--login {
  width: 100%;
}
.auth__terms {
  position: absolute;
  bottom: 16px;
  text-align: center;
  width: 100%;
}
.auth__redirect {
  text-align: center;
  width: 100%;
}
.auth__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
}
.auth__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media screen and (min-width: 656px) {
  .auth__content {
    max-width: 768px;
  }
  .auth__main {
    padding: 32px;
  }
  .auth__why {
    padding: 32px;
  }
  .auth__heading {
    display: block;
  }
  .auth__buttons {
    max-width: 540px;
  }
  .auth__button--login {
    width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .auth {
    padding: 32px;
  }
  .auth__content {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    height: 600px;
  }
  .auth__why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: var(--color-primary-strongest);
    border-radius: var(--border-radius-default);
    padding: 16px;
  }
  .auth__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
  }
  .auth__heading {
    display: block;
    text-align: center;
  }
  .auth__buttons {
    max-width: initial;
  }
  .auth__button--social {
    width: 100%;
  }
}
.premium-modal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--color-background-root);
  padding: 16px;
  overflow-y: auto;
}
.premium-modal__content {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  height: 800px;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
  margin: auto 0;
}
.premium-modal__content--payment {
  min-height: 800px;
  height: max-content;
}
.premium-modal__why {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background: var(--color-primary-strongest);
  border-radius: var(--border-radius-default);
  padding: 16px;
}
.premium-modal__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: auto;
}
.premium-modal__heading {
  display: none;
}
.premium-modal__stepper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 180px;
}
.premium-modal__stepper--terms {
  margin-top: 32px;
}
.premium-modal__terms {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  padding: 0 48px;
  overflow: auto;
}
.premium-modal__accept-terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
  padding: 16px;
  height: max-content;
}
.premium-modal__terms-message {
  width: 100%;
  text-align: center;
}
.premium-modal__accept-button {
  width: 100%;
}
.premium-modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
  width: 100%;
}
.premium-modal__fields {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.premium-modal__trial-disclaimer {
  margin: 32px 0;
  padding: 0 16px;
}
.premium-modal__payment-info {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 32px;
  width: 100%;
  height: max-content;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
}
.premium-modal__evidentials {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.premium-modal__evidential {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.premium-modal__evidential-title {
  display: flex;
  gap: 8px;
}
.premium-modal__evidential-image {
  width: 24px;
}

@media screen and (min-width: 656px) {
  .premium-modal__content {
    max-width: 768px;
  }
  .premium-modal__why {
    padding: 32px;
  }
  .premium-modal__heading {
    display: block;
    text-align: left;
  }
  .premium-modal__accept-terms {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }
  .premium-modal__accept-button {
    width: 200px;
  }
  .premium-modal__terms-message {
    text-align: left;
  }
  .premium-modal__form {
    padding: 0 32px;
    width: 100%;
  }
  .premium-modal__trial-disclaimer {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .premium-modal {
    padding: 32px;
  }
  .premium-modal__content {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    height: 600px;
  }
  .premium-modal__content--payment {
    min-height: 600px;
    height: max-content;
  }
  .premium-modal__why {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: var(--color-primary-strongest);
    border-radius: var(--border-radius-default);
    padding: 16px;
  }
  .premium-modal__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .premium-modal__heading {
    display: block;
    text-align: center;
  }
}
.premium__hero {
  padding-top: 96px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.premium__hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  max-width: 620px;
}
.premium__cta {
  width: 100%;
}
.premium__features {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.premium__features-content {
  display: flex;
  flex-direction: column;
  gap: 128px;
}
.premium__features-section {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.premium__free-trial {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background: var(--color-secondary-strongest);
}
.premium__how {
  padding-top: 128px;
  padding-bottom: 128px;
  background: var(--color-background-default);
}
.premium__how-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

@media screen and (min-width: 656px) {
  .premium__hero-content {
    align-items: center;
  }
  .premium__hero-heading {
    text-align: center;
  }
  .premium__cta {
    width: 300px;
  }
}
@media screen and (min-width: 1025px) {
  .premium__hero-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 760px;
  }
  .premium__features-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
  }
  .premium__features-section--flipped {
    flex-direction: column;
  }
  .premium__features-text {
    width: 100%;
    max-width: 800px;
  }
}
@media screen and (min-width: 1256px) {
  .premium__features-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
  }
  .premium__features-section--flipped {
    flex-direction: row-reverse;
  }
  .premium__features-text {
    min-width: 450px;
    width: 100%;
    max-width: 500px;
  }
  .premium__features {
    padding-top: 196px;
    padding-bottom: 196px;
  }
  .premium__features-content {
    gap: 196px;
  }
}

/*# sourceMappingURL=style.css.map */
