/* Font */

:root {
  --font-heading: "Source Sans Pro", sans-serif;
  --font-subheading: "Source Sans Pro", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-button: "Source Sans Pro", sans-serif;
}

/* Color */

:root {
  --color-black: #041725;
  --color-white: #ffffff;

  --color-foreground-dimmest: #6c8293;
  --color-foreground-dimmer: #244660;
  --color-foreground-default: #082b45;

  --color-background-root: #ebedef;
  --color-background-lower: #f9f9fa;
  --color-background-default: #ffffff;
  --color-background-higher: #eeeff2;
  --color-background-highest: #e3e5e8;

  --color-outline-dimmest: #dfe1e2;
  --color-outline-dimmer: #cfd1d3;
  --color-outline-default: #bdc0c2;

  --color-primary-dimmest: #b84000;
  --color-primary-dimmer: #e04e00;
  --color-primary-default: #ff5900;
  --color-primary-stronger: #ff9c66;
  --color-primary-strongest: #ff9c66;

  --color-secondary-dimmest: #b84000;
  --color-secondary-dimmer: #097bd3;
  --color-secondary-default: #0b93f4;
  --color-secondary-stronger: #6dbef8;
  --color-secondary-strongest: #cee9fd;

  --color-positive-dimmest: #107f5e;
  --color-positive-dimmer: #14a378;
  --color-positive-default: #19cc95;
  --color-positive-stronger: #60ebc2;
  --color-positive-strongest: #bbf7e5;

  --color-negative-dimmest: #ae092d;
  --color-negative-dimmer: #d40d37;
  --color-negative-default: #f4154c;
  --color-negative-stronger: #f98aa6;
  --color-negative-strongest: #feecf0;
}

/* General */

:root {
  --border-radius-default: 12px;
  --border-radius-button: 100px;

  --shadow-small: 0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0px 4px 6px 0.1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -2px rgba(0, 0, 0, 0.25);
  --shadow-big: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.25);
  --shadow-extra-big: 0px 10px 25px -5px rgba(0, 0, 0, 0.1),
    0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
