.gamemode-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: max-content;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;

  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);

  &__panel {
    padding: 16px;
    background: var(--color-background-default);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-default);
    overflow-y: auto;
  }

  &__information {
    height: 100%;
    overflow: hidden;
  }

  &__row {
    display: flex;
    justify-content: center;
    height: 100%;
    width: calc(100% * 4);
    animation: gamemode 6s infinite linear;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
  }

  &__logo {
    height: 64px;
  }
}

@keyframes gamemode {
  0% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(0%);
  }

  33% {
    transform: translateX(-25%);
  }

  63% {
    transform: translateX(-25%);
  }

  66% {
    transform: translateX(-50%);
  }

  97% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-75%);
  }
}
