.hero-image {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 0.6;
  height: 100%;
  max-height: 420px;
  margin: 0 auto;

  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);

  &__tag {
    position: absolute;
    right: 8px;
    z-index: 10;
    padding: 4px 12px;
    color: var(--color-white);
    border-radius: var(--border-radius-default);

    &--you {
      background: var(--color-primary-default);
      top: 8px;
    }

    &--best-friend {
      top: 50%;
      background: var(--color-secondary-default);
    }
  }

  &__panel {
    position: relative;
    padding: 24px;
    background: var(--color-background-default);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-default);
    overflow-y: auto;
  }
}
