.language-image {
  padding: 16px;
  height: max-content;

  background: var(--color-background-higher);
  border-radius: var(--border-radius-default);

  &__inner {
    display: flex;
    gap: 16px;
    padding: 16px;

    width: 100%;
    height: max-content;
    background: var(--color-background-default);
    border-radius: var(--border-radius-default);
  }
}
