.pseudocode {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__line {
    display: flex;
    gap: 8px;

    width: 100%;
    height: max-content;
  }

  &__word {
    height: 16px;
    border-radius: 4px;
    width: 0;
    background: var(--color-foreground-default);
    transition: width cubic-bezier(0.23, 1, 0.32, 1), background ease;

    &--highlight {
      background: var(--color-primary-default);
    }
  }
}
