.stepper {
  --circle-size: 32px;
  --spacing: 8px;

  display: flex;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    counter-increment: step-count;

    &:before {
      content: counter(step-count);

      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 100px;
      background: #d4d4d4;
      margin: 0 auto 0.5rem;
      color: var(--color-white);
    }

    &:not(:last-child) {
      &:after {
        content: "";
        position: relative;
        top: calc(var(--circle-size) / 2);
        width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
        left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
        height: 2px;
        background-color: #d4d4d4;
        order: -1;
      }
    }

    &--previous:not(:last-child),
    &--active:not(:last-child) {
      &:after {
        background: var(--color-primary-default);
      }
    }

    &--previous,
    &--active {
      &:before {
        background: var(--color-primary-default);
      }
    }
  }

  &__title {
    color: #d4d4d4;
  }

  &__item--previous &__title {
    color: var(--color-foreground-default);
  }

  &__item--active &__title {
    color: var(--color-foreground-default);
    font-weight: 600;
  }
}
