.testamonial {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--color-background-default);
  border-radius: var(--border-radius-default);
  padding: 24px;
  height: 200px;
  min-width: 360px;
  width: 360px;

  &__person {
    display: flex;
    justify-content: space-between;
    height: max-content;
    width: 100%;
  }

  &__left {
    display: flex;
    gap: 8px;
  }

  &__avatar-image {
    width: 54px;
    height: 54px;
    border-radius: 100px;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: max-content;
    height: 100%;
  }

  &__source {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: var(--color-background-higher);

    &:active {
      background: var(--color-background-highest);
    }
  }

  &__source-image {
    height: 14px;
  }
}

@media screen and (min-width: 656px) {
  .testamonial__source {
    &:hover {
      background: var(--color-background-highest);
    }
  }
}
