.premium {
  &__hero {
    padding-top: 96px;
    padding-bottom: 128px;
    background: var(--color-background-default);
  }

  &__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
    max-width: 620px;
  }

  &__cta {
    width: 100%;
  }

  &__features {
    padding-top: 128px;
    padding-bottom: 128px;
    background: var(--color-background-default);
  }

  &__features-content {
    display: flex;
    flex-direction: column;
    gap: 128px;
  }

  &__features-section {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__free-trial {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;

    background: var(--color-secondary-strongest);
  }

  &__how {
    padding-top: 128px;
    padding-bottom: 128px;
    background: var(--color-background-default);
  }

  &__how-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}

@media screen and (min-width: 656px) {
  .premium {
    &__hero-content {
      align-items: center;
    }

    &__hero-heading {
      text-align: center;
    }

    &__cta {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .premium {
    &__hero-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 760px;
    }

    &__features-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 128px;

      &--flipped {
        flex-direction: column;
      }
    }

    &__features-text {
      width: 100%;
      max-width: 800px;
    }
  }
}

@media screen and (min-width: 1256px) {
  .premium {
    &__features-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 128px;

      &--flipped {
        flex-direction: row-reverse;
      }
    }

    &__features-text {
      min-width: 450px;
      width: 100%;
      max-width: 500px;
    }

    &__features {
      padding-top: 196px;
      padding-bottom: 196px;
    }

    &__features-content {
      gap: 196px;
    }
  }
}
